.App {
  text-align: center;
}
body{
  background: black;
}
.container{
  padding: 60px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
table td{
  border: 1px solid grey;
  width: 100px;
  height: 100px;
  font-size: 80px;
}
.winner{
  color: red;
  background: grey;
}

